.header {
    display: block;
    width: 100%;
}
.item {
    background-color: #1DB954;
}
.container {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
p {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}
.header_btn {
    cursor: pointer;
}

.logo {
    cursor: default;
    pointer-events: none;
}

.top_wave {
    margin-top: -100px;
    z-index: 0;
    pointer-events: none;
}