@media screen and (max-width: 600px) {
    .pp_qr {
        width: 244px;
        height: 362px;
    }
    .payment_area {
        background: rgb(29,185,84);
        /* background: linear-gradient(180deg, rgba(29,185,84,1) 59%, rgba(18,18,18,1) 100%); */
        width: 100%;
        min-height: 922px;
        padding: 108px 19px;
        text-align: center;
    }
    .payment_box {
        padding: 50px 0;
        margin: 0 auto;
        max-width: 1280px;
        min-height: 691px;
        background-color: white;
        border-radius: 28px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .payment_group {
        /* border: #121212 solid; */
        margin: 50px 19px;
        max-width: 640px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .payment_group .wrap {
        width: 100%;
    }
    .payment_header {
        margin-bottom: 38px;
    }
    .payment_header .header {
        color: #121212;
        font-weight: 400;
        font-size: 36px;
    }
    .payment_header .detail {
        color: #121212;
        font-weight: 400;
        font-size: 18px;
    }
    .payment_btn {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-around;
    }
    .month_btn {
        width: 90px;
        height: 48px;
        background-color: #f6f6f6;
        border-radius: 3px;
    }
    .month_btn:hover {
        color: #1DB954;
    }
    #active {
        border: #1DB954 solid;
        color: #1DB954;
    }
    .pp_number {
        margin: 30px auto;
        text-align: center;
    }
    .pp_number p {
        color: #121212;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 12px;
    }
    .month_btn#copy {
        /* background-color: #1DB954; */
        background-color: #f6f6f6;
        width: 70%;
        /* color: #f6f6f6; */
        font-size: 18px;
        border-radius: 45px 45px 45px 45px;
        border: #1DB954 solid 3px;
    }
    .price {
        color: #121212;
        align-self: center;
        text-align: center;
        width: 90px;
    }
}
@media screen and (min-width: 601px) {
    .payment_area {
        background: rgb(29,185,84);
        /* background: linear-gradient(180deg, rgba(29,185,84,1) 59%, rgba(18,18,18,1) 100%); */
        width: 100%;
        min-height: 922px;
        padding: 108px 80px;
    }
    .payment_box {
        padding: 50px 0;
        margin: 0 auto;
        max-width: 1280px;
        min-height: 691px;
        background-color: white;
        border-radius: 28px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .payment_group {
        /* border: #121212 solid; */
        margin: 50px 30px;
        max-width: 640px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .payment_group .wrap {
        height: 367px;
        width: 354px;
    }
    .payment_header {
        margin-bottom: 38px;
    }
    .payment_header .header {
        color: #121212;
        font-weight: 400;
        font-size: 36px;
    }
    .payment_header .detail {
        color: #121212;
        font-weight: 400;
        font-size: 18px;
    }
    .payment_btn {
        display: flex;
        flex-wrap: wrap;
        gap: 41px;
    }
    .month_btn {
        width: 90px;
        height: 48px;
        background-color: #f6f6f6;
        border-radius: 3px;
    }
    .month_btn:hover {
        color: #1DB954;
    }
    #active {
        border: #1DB954 solid;
        color: #1DB954;
    }
    .pp_qr {
        width: 318px;
    }
    .pp_number {
        margin: 69px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
    }
    .pp_number p {
        color: #121212;
        font-weight: 400;
        font-size: 22px;
    }
    .month_btn#copy {
        background-color: #1DB954;
        color: #f6f6f6;
        font-size: 18px;
    }
    .price {
        color: #121212;
        align-self: center;
        text-align: center;
        width: 90px;
    }
}